# common
tqdm
pandas
numpy
pyyaml
# tables==3.6.1

# Visualization
matplotlib>=3.4.2
seaborn>=0.11.1

# crawler
selenium
webdriver-manager

# GEO
geopy==2.1.0 # calculate coordinate distance

# Map
folium

# node2vec
networkx==2.6.3 # graphs processing tool
gensim==4.1.2 # word2vec